<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <!-- head -->
    <th:block th:replace="~{ fragments/fragments :: head}"></th:block>
    <title>Welcome!</title>
  </head>
  <body class="container p-5">
    <header>
      <nav th:replace="~{ fragments/navbar :: nav}"></nav>
    </header>
    <h1
      th:text=" 'Best of the year by ' + ${name}"
      class="text-center my-4"
    ></h1>
    <!-- script -->
    <th:block th:replace="~{ fragments/fragments :: scripts}"></th:block>
  </body>
</html>
